.login-container{
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('../images/bgcopy2.jpg') center center no-repeat;
    background-size: cover;

    /* FLEX */
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container .login-form{
    width: 40%;
    min-width: 300px;
    max-width: 400px;  
    text-align: center;

    /* GRID */
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
.login-container .login-form .login-logo{
    width: 250px;
    justify-self: center;
}
.login-container .login-form .disable-account-container{
    width: 100%;
    color: #f86c6b;
    font-size: 12px;
}
.login-container .login-form .btn{
    justify-self: center;
}
.login-container .login-form .login-option a{
    font-size: 12px;
    text-decoration: none;
    color: white;  
}
.login-container .login-form .login-option a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #ec115d;
}