.register-container{
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background: url('../images/bgcopy2.jpg') center center no-repeat;;
    background-size: cover;
    overflow: auto;

    /* FLEX */
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-container::-webkit-scrollbar{
    width: 20px;
    background-color: #1f1f1f;
}
.register-container::-webkit-scrollbar-thumb{
    background-color: #ec115d;
    border-radius: 20px;
    border: solid 5px #1f1f1f;
}
.register-container .register-box{
    margin: auto;
}
.register-form{
    width: fit-content;
    margin: 40px 0;
    padding: 20px;
    text-align: center;
    border: solid 1px #838383;
    border-radius: 10px;

    /* GRID */
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
.register-form .register-logo{
    justify-self: center;
    width: 250px;
}
.register-form .aditional-info{
    /* GRID */
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.register-form .aditional-info .input-group-container:nth-child(3){
    grid-column: span 2;
}
.register-form .error-message-container{
    justify-self: center;
}
.register-form .btn{
    justify-self: center;
}
.register-form .register-option{
    color: white;  

    /* FLEX */
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-form .register-option label{
    margin: 0 10px;
}
.register-form .register-option a{
    font-size: 12px;
    text-decoration: none;
    color: white;  
}
.register-form .register-option a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #ec115d;
}